
.App {
  text-align: center;
}


/* Home Page ------------------------------------------------------------------ */

.search-button:hover {
  cursor: pointer;
}

.blogs-container {
  width: 80%;
  margin: 2rem auto;
}

.BlogCard {
  width: 18rem;
  margin: 10px;
}

.BlogCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 750px) {
  .BlogCard {
    width: 100%;
    margin: 10px;
  }
}

/* Signup Page ------------------------------------------------------------------ */

.Signup {
  height: 100vh;
  display: flex;
}

.signup-container {
  margin: auto;
  width: 80%;
}

.signup-card {
  background-color: rgba(32, 15, 129, 0.712);
}

.signup-title {
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}
