
.App {
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
}

.blogs-container {
  width: 80%;
  margin: 2rem auto;
}

.BlogCard {
  width: 18rem;
  margin: 10px;
}

.BlogCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 750px) {
  .BlogCard {
    width: 100%;
    margin: 10px;
  }
}